body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px;
  background-color: #fefff7;
  color: #091627;
}

.header {
  background-color: #fefff7;
  color: #fefff7;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-color: #fefff7;
  color: #091627;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #091627;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: 4px 4px 4px 4px;
  padding: 10px 15px; 
  box-shadow: none;
}

.nav-link:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #ffcc00 !important; 
}

.nav-link:active {
  opacity: 0.68;
}

.navbar .nav-link {
  font-size: 30px;
  font-family: 'Baskervville', serif !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: inherit; 
}

.navbar-light .navbar-nav .nav-link {
    color: #091627; 
}

.main-content {
  padding-top: 120px; 
}


/* .logo {
  margin-right: 20px; 
}
  
.logo img {
  max-width: 200px; 
  height: auto;
  transition: all 0.3s ease;
}
  
.logo:hover img {
  filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.4));
}

.logo:active img {
  opacity: 0.68;
} */
  
.home {
  padding: 80px 20px;
  text-align: center;
  font-family: 'Baskervville', serif !important;
  font-size: 30px;
  justify-content: center;
}

.landing-page {
  max-width: 100%; 
  margin: 20px auto; 
  text-align: center; 
  display: flex;
  justify-content: center;
}
  
.landing-page img {
  width: 100%; 
  max-width: 1000px;
  max-height: auto; 
  margin: 10px 10px; 
  display: flex;
  object-fit: cover;
  transition: all 0.3s ease;
}

.landing-page:hover img {
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.4));
}


.partners {
  padding: 30px 30px;
  text-align: center;
  font-family: 'Baskervville', serif;
}

.partners h2 {
  margin-bottom: 30px;
}

.partners-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
  place-items: center;
  align-items: baseline;
  
}

.partner {
  position: relative; 
  text-align: center;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.partner img {
  width: 100%;
  height: 450px; 
  object-fit:cover;
  transition: all 0.3s ease;
}

.partner:hover img {
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.4));
}

.partner-content {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  text-align: center;
  padding: 5px;
}

.partner strong {
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 10px;
}

.partner p {
  font-size: 1em;
  margin-top: 0;
  margin-bottom: 10px;
  color: black;
}
  
.testimonials {
  padding: 20px 20px;
  text-align: center;
  font-family: 'Baskervville',serif;
  color:black;

}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  grid-gap: 10px;
}

.testimonial {
  text-align: center;
  padding: 20px;
  font-size: 1em;
  margin-bottom: 10px;
  
}

.testimonial iframe {
  width: 100%;
  height: auto;
  padding: 5px; 
  box-sizing: border-box;
}

.testimonial p {
  font-size: 1em;
  margin-top: 10px;
}

.cta {
  padding: 20px 20px;
  text-align: center;
  margin-top: 20px;
}

.cta-button {
  background-color: #fefff7;
  color:#091627;
  border-style: solid;
  border-color: #091627;
  font-size:larger;
  font-weight: bold;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  transition: background-color 0.3s ease-out;
  transition: color 0.3s ease-out;
    
}

.cta-button:hover {
  background-color: #091627;
  color: #ffcc00;
}

.cta-button:active{
  opacity: 0.68;
}

.footer {
  text-align: center;
  padding: 20px;
}