body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding-top: 60px;
  background-color: #fefff7;
  color: #091627;
}

.header {
  background-color: #fefff7;
  color: #fefff7;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  background-color: #fefff7;
  color: #091627;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-nav {
  display: flex;
  align-items: center;
  margin-left: auto; 
}

.nav-item {
  margin-right: 20px;
}

.nav-link {
  color: #091627;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  margin: 4px 4px 4px 4px;
  padding: 10px 15px; 
  box-shadow: none;
}

.nav-link:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  color: #ffcc00 !important; 
}

.nav-link:active {
  opacity: 0.68;
}

.navbar .nav-link {
  font-size: 30px;
  font-family: 'Baskervville', serif !important;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
    color: inherit; 
}

.navbar-light .navbar-nav .nav-link {
    color: #091627; 
}


.main-content {
  padding-top: 120px; 
}

.about {
  padding: 80px 20px;
  text-align: center;
  font-family: "Baskervville", serif !important;
  font-size: 20px;
}

.about-us-image {
  width: 100%;
  max-width: 600px;
  height: auto;
  margin: 20px auto; 
  text-align: center; 
  display: flex;
  justify-content: center;
  transition: all 0.3s ease;
}

.about-us-image:hover {
  filter: drop-shadow(7px 7px 7px rgba(0, 0, 0, 0.4));
}

.about p {
  max-width: 800px; 
  margin: 0 auto; 
  line-height: 1.5;
  margin-bottom: 30px;
}

.about ul {
  max-width: 800px; 
  margin: 0 auto; 
  line-height: 1.5;
  margin-bottom: 30px;
}

.about .cta {
  padding: 30px 20px;
}

.about .cta-button {
  background-color: #fefff7;
  color: #091627;
  border-style: solid;
  border-color: #091627;
  font-size: larger;
  font-weight: bold;
  height: 50px;
  width: 200px;
  border-radius: 10px;
  cursor: pointer;
  margin: auto;
  transition: background-color 0.3s ease-out;
  transition: color 0.3s ease-out;
}

.about .cta-button:hover {
  background-color: #091627;
  color: #ffcc00;
}

.about .cta-button:active {
  opacity: 0.68;
}

.footer {
  text-align: center;
  padding: 20px;
}
  
  